@media screen and (max-width: 1208px) {
    .header{
        width: auto;
    }
    .AboutDiv{
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 1180px) {
    .Services{
        width: auto;
    }
}


@media screen and (max-width: 1105px) {
    .Services div{
        width: 450px;
        height: 200px;
    }
}


@media screen and (max-width: 985px) {
    .Services div{
        width: 400px;
        height: 200px;
    }
}

@media screen and (max-width: 880px) {
    .Services div{
        width: 350px;
        height: 220px;
    }
}

@media screen and (max-width: 780px) {
    .Services div{
        width: 300px;
        height: 250px;
    }
}

@media screen and (max-width: 680px) {
    .Services div{
        width: 500px;
        height: 250px;
    }
}